.grid_productos{
    display: grid;
    grid-template-columns: repeat(4, 1fr);
    grid-template-rows: repeat(2,1fr);
    column-gap: 0.5rem;
    row-gap: 3rem;
    margin-bottom: 4rem;
}
.grid_portada{
    display: grid;
    grid-template-rows: 1fr;
    grid-template-columns: repeat(3,1fr);
    margin-bottom: 3rem;
}
.img_portada{
    height: 100%;
    width: 100%;
}
.decoration1{
    text-decoration: none;
    color: black;
}
.decoration1:hover{
    color: black;
}