.contenedor{
    min-height: 300px;
    display: flex;
    justify-content: center;
}
.card{  
    border: solid 1px black;
    background-color: antiquewhite;
    width: 300px;
    height: 350px;
    display: flex;
    flex-direction: column;
    justify-content: center;
}
.div__button{
    display: flex;
    justify-content: space-evenly;
}
.card_titulo{
    text-align: center;
    display: flex;
    justify-content: center;
    padding: 1rem;
    font-size: 20px;
}
.card_numero_contador{
    /* padding: 1rem; */
    font-size: 20px;
    text-align: center;
}
.button{
    padding: 5px;
    text-align: center;
}